.button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  color: var(--color-primary);

  background-color: var(--color-button-background-normal);
  border: 0;

  &:hover {
    background-color: var(--color-button-background-hover);
  }

  &:active {
    color: var(--color-button-text-active);

    background-color: var(--color-button-background-active);
  }

  &:disabled {
    background-color: var(--color-button-background-disabled);
  }
}
