.feedback {
  background-color: var(--color-primary);
}

.feedback__container {
  // margin: 0 20px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  width: 100%;
  // max-width: 648px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    // margin: 0 60px;
    padding: 0 60px;
    width: 768px;
    // max-width: 1200px;
  }

  @media (min-width: 1200px) {
    // margin: 0 120px;
    padding: 0 120px;
    width: 1200px;
  }
}

.feedback__intro {
  // outline: 1px dashed #006400;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px 0 28px;

  text-align: center;

  @media (min-width: 768px) {
    padding: 64px 0 102px;
  }

  @media (min-width: 1200px) {
    padding: 115px 0 67px;
  }
}

.feedback__intro-container {
  width: 100%;
  max-width: 435px;
}

.feedback__intro-title {
  margin-bottom: 34px;

  @media (min-width: 1200px) {
    margin-bottom: 40px;
  }
}
