.feedback-modal-ok {
  outline: 1px dashed #006400;
  box-sizing: border-box;
  width: 100%;
  max-width: 640px;
}

.feedback-modal-ok__text-container {
  padding: 39px 38px 30px;
}

.feedback-modal-ok__button-container {
  width: 100%;

  background-color: var(--color-input-background-normal);
}
