.feedback-modal-ok {
  width: 100%;
  max-width: 320px;

  @media (min-width: 768px) {
    max-width: 640px;
  }
}

.feedback-modal-ok__text-container {
  padding: 39px 38px 50px;

  @media (min-width: 768px) {
    padding: 53px 98px 50px;
  }
}

.feedback-modal-ok__title {
  margin-bottom: 28px;
}

.feedback-modal-ok__button-container {
  width: 100%;

  background-color: var(--color-input-background-normal);
}

.feedback-modal-ok__button {
  margin: 20px auto;
  padding: 18px 61px 14px;

  @media (min-width: 768px) {
    margin: 44px auto;
    padding: 18px 140px 14px;
  }
}
