.feedback {
  background-color: var(--color-primary);
}

.feedback__intro {
  outline: 1px dashed #006400;
  padding: 36px 0 28px;
}

.feedback-form__group {
  outline: 1px dashed #006400;
  padding: 24px 0 24px;
}
