.feedback-modal-error {
  box-sizing: border-box;
  padding: 45px 42px 35px;
  width: 100%;
  max-width: 320px;

  @media (min-width: 768px) {
    max-width: 400px;
    padding: 50px 46px;
  }
}

.feedback-modal-error__title {
  margin-bottom: 28px;

  @media (min-width: 768px) {
    margin-bottom: 23px;

    font-size: 30px;
    line-height: 40px;
  }
}

.feedback-modal-error__button {
  margin-top: 28px;
  padding: 18px 64px 14px;

  @media (min-width: 768px) {
    margin-top: 43px;
    padding: 18px 140px 14px;
  }
}
