.main-header {
  background-color: var(--color-primary);
  outline: 1px dashed #0000ff;
}

.main-header__logo,
.main-header__nav,
.main-header__poster {
  outline: 1px dashed #006400;
}

.main-header__poster {
  width: 100%;
}
