.main-nav-toggle {
  z-index: 40;
  width: 39px;
  height: 38px;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  background-image: url("../img/menu-burger.svg");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--open {
    background-image: url("../img/menu-cross.svg");
  }
}

.main-nav-toggle--nojs {
  display: none;
}
