.main-header {
  background-color: var(--color-primary);
}

.main-header__container {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &::before,
  &::after {
    content: "";
    width: 601px;
    height: 62px;
    position: absolute;
    z-index: 1;
    display: block;
    background-color: var(--color-primary);
    transform:scaleZ(1);
  }

  &::before {
    bottom: -5px;
    right: 50%;
    clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
  }

  &::after {
    bottom: -5px;
    left: 50%;
    clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
  }
}

.main-header__logo {
  position: absolute;
  top: 0;
  left: calc(50% - 92.5px);
  width: 185px;
  height: 96px;
  z-index: 3;
}

.main-header__poster {
  width: 100%;
  height: 158px;

  background-color: var(--color-header-background);
  background-image: url("../img/header-back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/header-back-mobile@2x.jpg");
    background-size: auto 100%;
  }

  @media (min-width: 768px) {
    height: 290px;

    background-image: url("../img/header-back-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/header-back-desktop@2x.jpg");
      background-size: auto 100%;
    }
  }

  @media (min-width: 1200px) {
    height: 300px;
  }

  &::before,
  &::after {
    content: "";
    width: 350px;
    height: 57px;
    position: absolute;
    z-index: 1;
    display: block;
    background-color: var(--color-primary);
  }

  &::before {
    bottom: 0;
    right: 50%;
    clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
  }

  &::after {
    bottom: 0;
    left: 50%;
    clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
  }
}

.main-header__poster-text {
  display: block;
  width: 229px;
  height: auto;
  margin: 52px auto auto;

  @media (min-width: 768px) {
    width: 457px;
    margin-top: 95px;
  }

  @media (min-width: 1200px) {
    // max-height: 300px;
    margin-top: 101px;
  }
}

.main-header__poster--extended {
  width: 100%;
  height: 389px;

  background-image: url("../img/header-back-index-mobile.jpg");
  background-position: top;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/header-back-index-mobile@2x.jpg");
  }

  @media (min-width: 768px) {
    height: 518px;

    background-image: url("../img/header-back-index-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/header-back-index-desktop@2x.jpg");
    }
  }
}

.main-header__poster--extended .main-header__poster-text {
  width: 282px;
  margin-top: 90px;

  @media (min-width: 768px) {
    width: 460px;
    margin-top: 77px;
  }
}
