.page__body {
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;

  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
