.photo {
  // outline: 1px dashed #006400;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 24px;

  @media (min-width: 768px) {
    padding: 0;
  }
}

.photo__info {
  // box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 15px 0 25px;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 22px 0 15px;

    background-color: var(--color-photo-info-background-secondary);
  }

  @media (min-width: 1200px) {
    position: absolute;
    left: 0;
    bottom: 0;

    color: var(--color-primary);

    background-color: var(--color-photo-info-background);
  }
}

.photo__meta {
  @media (min-width: 768px) {
    margin-left: 20px;
  }
}

.photo__title {
  margin: 0;
  padding: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-text-primary);

  @media (min-width: 1200px) {
    color: var(--color-primary);
  }
}

.photo__author {
  margin: 0;
  padding: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: none;
  color: var(--color-text-secondary);

  @media (min-width: 1200px) {
    color: var(--color-primary);
  }
}

.photo__likes {
  margin-top: 6px;
  display: flex;
  align-items: flex-end;

  @media (min-width: 768px) {
    margin-top: 0;
    margin-right: 20px;
  }
}

.photo__like-button {
  margin-right: 9px;

  @media (min-width: 768px) {
    margin-right: 4px;
  }
}

.photo__like-stats {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-text-primary);

  @media (min-width: 1200px) {
    color: var(--color-primary);
  }
}

.photo__image-container {
  order: -1;
}

.photo__image {
  max-width: 100%;
  height: auto;
  object-fit: cover;

  @media (min-width: 768px) {
    width: 324px;
    height: 267px;
  }

  @media (min-width: 1200px) {
    width: 400px;
    height: 267px;
  }
}

.photos-catalog__item--accent .photo__image {
  @media (min-width: 768px) {
    width: 648px;
    height: 400px;
  }

  @media (min-width: 1200px) {
    width: 1200px;
    height: 400px;
  }
}
