.photo {
  outline: 1px dashed #006400;
  padding: 24px 0 25px;
}

.photo__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-text-primary);
}

.photo__author {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: none;
  color: var(--color-text-secondary);
}

.photo__like-stats {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-text-primary);
}
