.photos-catalog {
  background-color: var(--color-primary);
}

.photos-catalog__intro {
  outline: 1px dashed #006400;
  padding: 33px 0 40px;
}

.photos-catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
