.social-list {
  display: flex;
  gap: 6px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-list__link {
  display: block;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-button-background-normal);

  &:hover {
    background-color: var(--color-button-background-hover);
  }

  &:active {
    background-color: var(--color-button-background-active);
  }
}

.social-list__link:active  svg {
  opacity: 0.3;
}
