.text-block__title {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: var(--color-text-primary);

  &--big {
    font-size: 21px;
    line-height: 26px;
  }
}

.text-block__description {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-text-secondary);
}
